#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=true
Name=Reboot to windows
Icon=CHANGE THIS TO: path to your windows icon
Exec=CHANGE THIS TO: path to your "make it windows.sh"
